:root {
  /* 
    #9DA8BF
    #9DA8BF
    #3C4E73
    #212B40
    #353941
    #282c34
    #26282b 
    #1F2226
    #1c1e20
    #121212   
*/
  --MAIN-BACKGROUND-color: #121212;
  --MAIN-TEXT-color: #9da8bf; /* Color of text by default */
  --MAIN-TITLES-TEXT-color: #3c4e73; /* Color of titles h2-h3-h4-h5 */
  --MAIN-LINK-color: #3c4e73; /* Color of links */
  --MAIN-LINK-HOVER-color: #212b40; /* Color of hovered links */
  --MAIN-ANCHOR-color: #9da8bf; /* color of anchors on titles */

  --CHILD-CARD-color: #1c1e20; /* color of card on children */
  --CHILD-SPAN-color: #26282b; /* color of span on children */

  --SINGLE-CODE-color: #9da8bf; /* `code blocks` */
  --SINGLE-CODE-backgroundcolor: #282c34; /* `code blocks` */
  --SINGLE-CODE-bordercolor: #9da8bf; /* `code blocks` */

  --COPY-CLIPBOARD-backgroundcolor: #949bab; /* copy to clipboard icon */
  --COPY-CLIPBOARD-hover-backgroundcolor: #656c72; /* copy to clipboard icon */

  --TOP-BAR-backgroundcolor: #1c1e20; /* top bar menu thingy */

  --TABLE-bordercolor:#1c1e20;
  --TABLE-TH-backgroundcolor:#1c1e20;
  --TABLE-TH-bordercolor:#1c1e20;


  --MENU-HEADER-BG-color: #212b40; /* Background color of menu header */
  --MENU-HEADER-BORDER-color: #3c4e73; /*Color of menu header border */

  --MENU-SEARCH-BG-color: #212b40; /* Search field background color (by default borders + icons) */
  --MENU-SEARCH-BOX-color: #3c4e73; /* Override search field border color */
  --MENU-SEARCH-BOX-ICONS-color: #9da8bf; /* Override search field icons color */

  --MENU-SECTIONS-ACTIVE-BG-color: #1f2226; /* Background color of the active section and its childs */
  --MENU-SECTIONS-BG-color: #1c1e20; /* Background color of other sections */
  --MENU-SECTIONS-LINK-color: #9da8bf; /* Color of links in menu */
  --MENU-SECTIONS-LINK-HOVER-color: #3c4e73; /* Color of links in menu, when hovered */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #9da8bf; /* Color of active category text */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #353941; /* Color of background for the active category (only) */

  --MENU-VISITED-color: #3c4e73; /* Color of 'page visited' icons in menu */
  --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
}

pre {
  background: #282c34;
  background-color: #282c34;
}


body {
  color: var(--MAIN-TEXT-color) !important;
  background-color: var(--MAIN-BACKGROUND-color);
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple="multiple"]:focus {
  border-color: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
  color: var(--MAIN-LINK-color);
}

.anchor {
  color: var(--MAIN-ANCHOR-color);
}

a:hover {
  color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
  color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background-color: var(--MAIN-LINK-HOVER-color);
}

#body .tags a.tag-link {
  background: var(--MAIN-LINK-HOVER-color);
  color: #fff;
}
#body .tags a.tag-link:before {
  border-color: transparent var(--MAIN-LINK-HOVER-color) transparent transparent;
}

#sidebar {
  background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
  background: var(--MENU-HEADER-BG-color);
  color: var(--MENU-SEARCH-BOX-color);
  border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
  border-color: var(--MENU-SEARCH-BOX-color);
  background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent,
#sidebar ul.topics > li.active {
  background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
  color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
  color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
  color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
  background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
  color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
  border-color: var(--MENU-SECTION-HR-color);
}

/* single code block */

code {
  color: var(--SINGLE-CODE-color);
  background: var(--SINGLE-CODE-backgroundcolor);
  border: 1px solid var(--SINGLE-CODE-bordercolor);
}

/* top bar */

#top-bar {
  background: var(--TOP-BAR-backgroundcolor);
}

/* copy to clipboard */

.copy-to-clipboard {
  background-color: var(--COPY-CLIPBOARD-backgroundcolor);
}
.copy-to-clipboard:hover {
  background-color: var(--COPY-CLIPBOARD-hover-backgroundcolor);
}

/* Children shortcode card style */

ul.children.children-card {
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 1.5rem;
}
ul.children.children-card > span {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  width: 40%;
  min-width: 250px;
  margin: 1rem 1rem;
  background-color: var(--CHILD-SPAN-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
ul.children.children-card > span card {
  margin: 0px 0px;
  display: block;
  padding: 1rem;
  background-color: var(--CHILD-CARD-color);
  font-size: 200%;
}
ul.children.children-card > span p {
  padding: 0rem 1rem;
  margin: 1.7rem 0;
  box-sizing: border-box;
  color: #e6e6e6;
}

/* Tables */
table {
  border: var(--TABLE-bordercolor);
}

th {
  background: var(--TABLE-TH-backgroundcolor);
}

td {
  border: 1px solid var(--TABLE-TH-bordercolor);
}
